:root {
    --primary: #eb511c;
    --light: #F1F8FF;
    --dark: #0F172B;
}
@font-face {
    font-family: 'Evanston Tavern 1893';
    src: url('../fonts/EvanstonTavern-1893BoldStencil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Evanston Tavern 1893';
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
body{
    background-color: rgba(255,239,223,255) ;
}
.about{
    background-image: url(../img/bg.png) ;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    padding: 0;
    margin: 0;
/* Or cover, depending on your preference */
}
.title{
    font-size: 50px;
}
@media only screen and (max-width: 600px) {
    .about {
        background-image: none;
    }
    .about-container {
        padding-right: 0;
        margin-right: 0;
    }
    .about-container p {
        padding-right: 10px;;
        margin-right: 10px;;
    }
    .food-item {
        background-image: url(../img/bg.png);
        background-size: 140%; /* Adjust the size to make the image smaller */
        background-position: right top; /* Focus more on the right and top */
        background-repeat: no-repeat; /* Ensures the image does not repeat */
        background-clip: padding-box; /* Ensures the background does not follow the padding */
        padding: 0; /* Remove padding if needed */
        margin: 0; /* Remove margin if needed */
        width: 100%; /* Ensure it takes the full width */
    }


}
.food-item {
    /* Default styles for larger screens */
}



.fa{
    color:#eb511c;
}


.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.strong-text {
    font-weight: bold;
    font-size: 20px;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    border-radius: 10px; /* Adjust the radius as needed */

}

.btn.btn-primary,
.btn.btn-secondary {
    background-color: #eb511c !important;
    border-radius: 10px; /* Adjust the radius as needed */
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
 /* Set the background color to black */

    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
            font-weight: 300;
        font-family: 'Evanston Tavern 1893';
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}
.navbar-dark .navbar-text {
        color: white;/* Hide text on mobile */
    }

    @media (max-width: 991.98px) {

    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1);
    }
    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 20px 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        font-family: 'Evanston Tavern 1893';

        border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Add bottom border */
    }
    .navbar-dark .navbar-brand img {
        max-height: 80px; /* Adjust this as needed */
    }
    .navbar-dark .navbar-text {
        display: none; /* Hide text on mobile */
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

}

@media (min-width: 992px) {
    .navbar-dark {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #000 !important; /* Set the background color to black */

    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }

}
.offer-section {
    padding: 30px;
    background-color: #fff5e4;
    text-align: center;
}
.offer-header {
    background-color: #eb511c;
    padding: 20px;
    color: white;
    border-radius: 10px; /* Adjust the radius as needed */

}

.offer-item,.deal-item {
    background-color: #fff5e4;

    padding: 20px;
    margin-bottom: 20px;
}
.deal-item h5{
    font-size: 35px;
    color:  #eb511c;
}

.offer-text,.deal-text {
    color: #333;
    font-weight: bold;
    font-size: 50px;
}
.offer-text h5 {
    font-size: 35px;
    color:  #eb511c;
}
.offer-text,.deal-text p{
    font-family: 'Evanston Tavern 1893';
}
.price {
    color: white;
    font-family: 'Evanston Tavern 1893';
    margin-top: 10px;
}
.dollar-sign {
    font-family: 'YourDesiredFontFamily', sans-serif; /* Change to your desired font family */

}
/* styles.css */


@media (max-width: 600px) {
    #dailyDealsCarouselContainer .deal-item {
        max-width: 100%; /* Full width on mobile */
        height: auto; /* Auto height on mobile */
    }

    #dailyDealsCarouselContainer .deal-text {
        padding: 10px; /* Reduced padding on mobile */
    }
    .offer-text h5 {
    font-size: 30px;
}
    .offer-text p {
        font-size: 45px;
    }
}


@keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
        }
/* The popup (background) */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Remove overflow */

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    animation: fadeIn 0.5s;
}

/* Popup Content */
.popup-content {
    background-color: #e87e0e;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    animation: slideIn 0.5s;
}
.order-btn{
    padding: 20px;
    margin: 10px;
    border-radius: 15px; /* Adjust the radius as needed */

}
/* Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Offer Section */




/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}
.ubereats-section {
    padding: 50px 0;
}
.ubereats-container {
    position: relative;
    display: inline-block;
    max-width: 600px;
    width: 100%;
}
.ubereats-container img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
#instagram-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

#profile-pic-container {
    display: flex;
    align-items: center;
}

#profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

#profile-info {
    flex-grow: 1;
}

#profile-name {
    margin: 0;
    font-size: 1.5em;
}

#follow-button-container {
    display: flex;
    align-items: center;
}

#follow-button {
    padding: 10px 20px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#follow-button:hover {
    background-color: #2879c1;
}

#instagram-feed {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

#instagram-feed a {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.instagram-post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
/* Media Queries for Mobile Compatibility */
@media (max-width: 600px) {
    #profile-pic {
        width: 60px; /* Smaller logo size for mobile */
        height: 60px; /* Smaller logo size for mobile */
    }
    #follow-button {
        padding: 8px 16px; /* Smaller follow button for mobile */
        font-size: 0.9em; /* Adjust font size for follow button */
    }
    #profile-name {
    margin: 0;
    font-size: 1.2em;
}

    #instagram-feed a {
        flex: 1 1 calc(33.333% - 10px); /* Make images smaller on mobile */
    }

    .instagram-post-image {
        height: 150px; /* Reduce height for mobile */
    }
}

@media (max-width: 400px) {
    #instagram-feed a {
        flex: 1 1 calc(50% - 10px); /* Adjust images to 50% width on very small screens */
    }

    .instagram-post-image {
        height: 120px; /* Further reduce height for very small screens */
    }
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 60%; /* Reduced width for smaller size */
    padding-top: 30%; /* Adjusted aspect ratio for a smaller height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto; /* Center the map container */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .map-container {
        width: 95%; /* Slightly wider on smaller screens */
        padding-top: 60%; /* Adjusted aspect ratio for mobile devices */
    }
}

@media (max-width: 480px) {
    .map-container {
        width: 100%; /* Full width on very small screens */
        padding-top: 70%; /* Further adjusted aspect ratio for smaller mobile devices */
    }
}

/*** Hero Header ***/
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.hero-header {
    position: relative;
    width: 100%;
    height: 550px; /* Adjust to the desired height of the hero section */
    overflow: hidden;
}

.hero-header .carousel-inner {
    height: 100%;
}

.hero-header .carousel-item img {
    height: 100vh; /* Full viewport height */
    object-fit: cover;
    animation: zoomIn 10s infinite alternate; /* Adjust the duration to match the carousel interval */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-subheader {
    z-index: 2;
    color: #fff;
}

.hero-subheader .btn-primary {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow to the button */
}


.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}

.hover-white {
  transition: filter 0.3s;
}

.hover-white:hover {
  filter: brightness(0) invert(1);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    border-radius: 20px; /* Adjust the radius as needed */

}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}
.nav-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-pills .nav-item {
    flex: 0 0 auto;
}

.nav-pills .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 0;
}

/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
.icon-img {
    width: 2em; /* Adjust size to match font size */
    height: 2em; /* Ensure it maintains aspect ratio */
    vertical-align: middle; /* Align with text */
    color: #007bff; /* Optional: Apply primary color if needed */
    margin-left: 0.2em; /* Adjust spacing as needed */
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: calc(100% - 40px);
    transition: .5s;
}

.team-item img {
    transition: .5s;
}

.team-item.in-view img {
    transform: scale(1.1);
}

.team-item.in-view {
    height: 100%;
}

.team-item .btn {
    border-radius: 38px 38px 0 0;
}

.modal-content{
    background-color: rgba(255,239,223,255);
}
.modal-body .service-item {
            border: 1px solid #ddd;
            margin-bottom: 15px;
            height: 200px; /* Fixed height for uniform size */
            display: flex;
            align-items: center;
            justify-content: center;
    }

  .modal-body .link-button {
    text-decoration: none;
    color: inherit;
  }
/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
    border-radius: 15px; /* Adjust the radius as needed */

}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}




/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
